language: python
python:
    - "2.7"
    - "3.7"
env:
  matrix:
    - TOXENV=check
    - TOXENV=coveralls
    - TOXENV=docs
before_install:
  - python --version
  - virtualenv --version
  - pip --version
  - uname -a
  - lsb_release -a
install:
  - pip install tox
script:
  - tox -v -e "$(echo py$TRAVIS_PYTHON_VERSION | tr -d .),${TOXENV}"
notifications:
  email:
    on_success: never
    on_failure: never
