language: python
python:
    - "2.7"
env:
  matrix:
    - TOXENV=check
    - TOXENV=py27,coveralls
    - TOXENV=py34,coveralls
    - TOXENV=docs
before_install:
  - python --version
  - virtualenv --version
  - pip --version
  - uname -a
  - lsb_release -a
install:
  - pip install tox
script:
  - tox -v
notifications:
  email:
    on_success: never
    on_failure: always
